/* CSS files add styling rules to your content */

/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #f5e7d0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

p,
li {
    font-style: italic;
}

.gameboard {
    display: flex;
    justify-content: space-between;
}

.card .label {
    display: inline;
}

.contents {
    display: flex;
    height: 100%;

    /* Hide initial */
    display: none; 
}

.card {
    background-color: #f9f1e4;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 5px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    perspective: 1000px;

    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

/* Rotating card */
.card.flipped {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card .label.hidden {
    display: none;
}